<section id="checklist-info">
    <div class="patient-info">
        <p>
            <strong>Cognome:</strong> {{listState.details.cognome}} - <strong>Nome:</strong> {{listState.details.nome}} -
            <strong>data di nascita:</strong> {{listState.details.dataDiNascita}} -
        </p>
        <p>
            <strong>Intervento Chirugico:</strong> {{listState.details.intervento}} -
            <strong>data:</strong> {{listState.details.data}}
        </p>
    </div>
    <div class="operation-info">
        <strong>Presidio: </strong>{{listState.hospital}} <br />
        <strong>Sala operatoria: </strong>{{listState.opRoom}}
    </div>



</section>

<div class="slide" data-my-checklist ng-hide="nonConformityView">

</div>

<div class="nonconformity-form slide" ng-hide="!nonConformityView">
    <h2 id="list-header">Modulo 776/b - Rivelazione delle Deviazioni dallo Standard Regionale</h2>
    <form class="phase">
        <hgroup class="phase-title">
            <h3>SIGN-IN</h3>
            <h6>i 7 controlli da effettuare prima dell'induzione dell'anestesia</h6>
        </hgroup>
        <fieldset class="step" ng-repeat="step in nonConformitySheetData.steps"
            ng-class="{'active': $index == listState.step, 'disabled': $index != listState.step}" >
            <legend>{{step.legend}}</legend><br />
            <div class="option" ng-repeat="option in step.options">
                <input type="checkbox" name="" value=""/> {{option}}
            </div>
            <button type="button" class="nonconformity-submit" ng-click="submitNonConformity()">Segnala Non conformità</button>
        </fieldset>
    </form>

</div>
