<h2 id="list-header">Modulo 776/a - checklist</h2>
<form class="phase" ng-repeat="phase in checklist">
    <hgroup class="phase-title">
        <h3>{{phase.title}}</h3>
        <h6>{{phase.description}}</h6>
    </hgroup>
    <fieldset class="step" ng-repeat="step in phase.steps" ng-class="{'active': $index == listState.step, 'disabled': $index != listState.step}" >
        <legend>{{step.legend}}</legend><br />
        <div class="step-content">
            <div class="options">
                <div class="option" ng-click="nextStep()" ng-repeat="option in step.options" >
                    <input type="checkbox" value="test" /> {{option}}
                </div>
            </div>
            <div class="controls">
                <button type="button" class="signal-button" ng-click="signalNonConformity($index)">Non conformità</button>
                <button type="button" ng-click="prevStep()">Passo precedente</button>
            </div>
        </div>
    </fieldset>

</form>
