body{
    font-family: Helvetica,Arial,sans-serif;
    font-size: 100%;
    margin: 0 auto;
    line-height: 1.5;
    color: #555;
}

#homepage-head{
    position: relative;
    height: 140px;
}

#homepage-head > img{
    width: 20%;
    background-color: #ccc;
}

#homepage-head > h1{
    margin: 0;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.left-logo{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right-logo{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.form-element > input {
    height: 35px;
    border-radius: 20px;
    background-color: #eee;
}


.clear{
    clear: both;
}

.option{
    margin-right: 2%;
    float: left;
    min-width: 15%;
}
.options{
    float: left;
    width: 60%;
}


header,
#checklist-title,
.phase-title{
    text-align: center;
}

#checklist-title{
    background-color: #ddd;
    border-color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong{
    margin: 0.8em auto;
    color: #333;
}

.phase{
    max-width: 80%;
    margin: 2em auto;
}

.active{
    font-weight: bold;
}

.disabled .step-content{
    display: none;
}

#start-form {
    margin: auto;
    text-align: center;
}

.form-element{
    margin: 2em auto;
}

#patient-info{
    display: inline;
    width: auto;
    float: left;
}

#operation-info{
    display: inline;
    width: auto;
    float: right;
}

.end-phase-controls{
    text-align: center;
}




/* Animazioni */
