body{
    font-family: Helvetica,Arial,sans-serif;
    margin: 0 auto;
    line-height: 1.5;
    padding: 1.5em 1em;
    color: #555;
}

main{
    margin: 0 auto;
}

.clear{
    clear: both;
}

.signal-button{
    display: block;
}

.option{
    margin-right: 2%;
    float: left;
    min-width: 15%;
}

header,
#checklist-title,
.phase-title{
    text-align: center;
}

#checklist-title{
    background-color: #ddd;
    border-color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong{
    margin: 0.8em auto;
    color: #333;
}

.phase{
    max-width: 80%;
    margin: 2em auto;
}

.active{
    font-weight: bold;
}

.disabled .step-content{
    display: none;
}

#start-form {
    margin: auto;
    text-align: center;
}

.form-element{
    margin: 2em auto;
}

#patient-info{
    display: inline;
    width: auto;
    float: left;
}

#operation-info{
    display: inline;
    width: auto;
    float: right;
}




/* Animazioni */
